<h1><%= @cocktail.name%></h1>
<%#= link_to "Add dose", doses_path %>
<h3>Ingredients:</h3>
<% @cocktail.doses.each do |dose|%>
<p><%= dose.description %> <strong><%= dose.ingredient.name %></strong> <%= link_to "delete", cocktail_dose_path(@cocktail,dose), method: :delete %></p>
<% end %>
<%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to 'All Cocktails', cocktails_path %>
